



.TodoDatas_inside {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* width: 100%; */
    /* position: relative; */
}

.TodoDatas_inside button{
    height: 25px;
    align-self: center;
    font-size: large;
    border-radius: 15px;
    z-index: 1;
}

.TodoDatas_inside button:hover{
    cursor: pointer;
}




.TodoData_btn_inside {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 3px;
}

.TodoDatas_recipebtn {
    position: relative;
    bottom: 50px;
    left: 280px;
    margin-bottom: 2px;
    border-radius: 5px;
}


.TodoDatas_recipedelete {
    position: relative;
    bottom: 50px;
    left: 280px;
    
    border-radius: 5px;
    color: lightcoral;

}
.TodoDatas_recipeUpdate {
    position: relative;
    /* bottom: 50px; */
    left: 280px;
    bottom: 50px;

    /* background-color: red; */
    margin-top: 2px;
    border-radius: 5px;
    color: rgb(4, 195, 4);



}


.TodoDatas_recipeUpdate:hover {

    cursor: pointer;
    /* margin-top: 2px; */


}


@media (max-width:600px){

.TodoDatas_recipebtn {
    left: 145%;
}

.TodoDatas_recipedelete {

    left: 145%;
}
.TodoDatas_recipeUpdate {
    left: 145%;

}

}






@media (max-width:500px){

    .TodoDatas_recipebtn {
        left: 80%;
    }
    
    .TodoDatas_recipedelete {
    
        left: 80%;
    }
    .TodoDatas_recipeUpdate {
        left: 80%;
    
    }
    
    }
  
    
    @media (max-width:385px){

        .TodoDatas_recipebtn {
            left: 50%;
            
        }
        
        .TodoDatas_recipedelete {
        
            left: 50%;
        }
        .TodoDatas_recipeUpdate {
            left: 50%;
        
        }
        
        }


        @media (max-width:335px){

            .TodoDatas_recipebtn {
                left: 25%;
            }
            
            .TodoDatas_recipedelete {
            
                left: 25%;
            }
            .TodoDatas_recipeUpdate {
                left: 25%;
            
            }
            
            }





.TodoDatas_recipedelete:hover {
    cursor: pointer;
}

.TodoDatas >button{

    border-radius: 5px;

}


.TodoDatas >button:hover{
    /* background-color: red; */
    cursor: pointer;
}

.recipes_inside {
    display: flex;
    background-color: rebeccapurple;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 2px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: auto;
}

.recipes_inside img {
    width: 150px;
}

.recipes_inside h1 {
font-size: 15px;
}

.TodoDatas a{
    text-decoration: none;
}

.TodoDatas_inside div:nth-child(2){
    /* color: red; */
    align-self: center;
}

/* .TodoDatas_recipebtn */

.TodoDatas_inside input{
    outline: none;
    border: none;
    height: 25px;
    align-self: center;
    position: relative;
    /* left: 10px; */
    right:100px;
    top: 26px;
    border-radius: 5px;
    padding-left: 10px;
}

/* .TodoDatas_inside div:nth-child(2) button{
    align-self: center;
    background-color: red !important;
} */

.Tododatas_btnupdate {
    position: relative;
    /* bottom: 70px; */
    /* left: 170px; */
    top: 25px;
    right: 150px;
    width: fit-content;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: red;
    color: white;
    font-size: 14px !important;
}

.Tododatas_btnupdate:hover {

cursor: pointer;
}










                               /* New  */


.tododatas_inside {
    position: relative;
    /* background-color: lightgreen; */
}

.tododatas_main {
    display: flex;
    justify-content: space-between;
}

.tododatas_btns {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 0px;
    right: 19px;
}

.tododatas_update {
    position: absolute;
    /* left: 10px; */
    top: 40px;
}

.tododatas_update button{
    background-color: #f41f1f;
    color: white;
    border-radius: 15px;
    margin-left: 5px;
    cursor: pointer;
    height: 25px;
    /* padding: 2px; */
    /* box-sizing: content-box; */
}

.tododatas_update input{

    outline: none;
    border: none;
    border-radius: 5px;
    height: 22px;
    padding-left: 5px;

}


.tododatas_btns button{
    margin-top: 3.5px;
    border-radius: 5px;
}


.tododatas_main div:nth-child(2){
    align-self: center;
}
.tododatas_main_btn {
    border-radius: 5px;
    font-size: large;
    margin-top: 10px;
    /* cursor: pointer; */

}
.tododatas_main_btn:hover {
    cursor: pointer;
}

.tododatas_btns button:nth-child(1) {
 color: red;

}

.tododatas_btns button:nth-child(2) {
    color: rgb(252, 91, 91) !important;
   
   }

.tododatas_btns button:nth-child(3) {
    color: rgb(21, 230, 21);
}
.tododatas_btns button:nth-child(2):hover {
cursor: pointer;

}

.tododatas_btns button:nth-child(3):hover {
    cursor: pointer;
    
    }

/* .tododatas_update  */

@media (max-width:530px){
 
    .tododatas_update{
        flex-direction: column;
    }
}