/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  background-color: lightcyan;
  height: 100vh;
  /* height: 753.9px; */
  /* min-height: fit-content !important; */
  /* height: max-content; */


  display: flex;
  align-items: center;
  justify-content: center;
}



.loading_app {
  
  /* display:grid; */
  /* place-items:center;
  align-items: center;
  display: flex;
  height:100vh;
  width:100%;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  /* place-items: center; */
  align-items: center;
  height: 100vh;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2); */
  
  
  
  }
  
  
  
  .loading_spin {
  
  text-align:center;
  padding-bottom:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  }
  
  .loading_spin >img {
    height:100px;
    padding:20px;
    width: 150px;
    margin-bottom:40px;
    /* border-radius: 15px; */
  }
  

  .Check {
    background-color: salmon;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn_Parent div:nth-child(1) {
    display: flex;
    justify-content: space-around;
  }

  .btn_Parent {
    position: relative;
  }

  .btn_Parent div:nth-child(2) {
   position: absolute;
   top: 0px;
   right: 45px;
   
   display: flex;
   flex-direction: column;
  
  }